<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>dzApp</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'dzencode/css/styles.css' %}">
    <script src="{% static 'dzencode/js/main.js' %}" type="module" defer></script>
    <script type="module" src="{% static 'dzencode/js/addPostHandler.js' %}" defer></script>
    <script>
        const addCommentURL = "{% url 'add_comment' %}";
        const csrfToken = "{{ csrf_token }}";
    </script>
</head>
<body>
<h2>dzApp</h2>

<button id="add-post-btn">Add Post</button>
<div id="post-form-container" style="display: none;">
    <form method="post" action="{% url 'add_post' %}">
        {% csrf_token %}
        {{ post_form.as_p }}
        <button type="submit" name="submit_post">Submit Post</button>
    </form>
</div>

<div class="sort-options">
    <label>Sort by: </label>
    <button id="sort-title">Title</button>
    <button id="sort-author">Author</button>
    <button id="sort-datetime">Date/Time</button>
</div>

<div class="msg-all">
{% for msg in msgs %}
    <div class="msg-item">
        <h3>
            <a href="#" name="{{ msg.title }}">{{ msg.title }}</a>
            <span class="msg-aftertitle">by <strong>{{ msg.user.username }}</strong> ({{ msg.published_date|date:"Y-m-d" }} at {{ msg.published_time|time:"H:i:s" }})</span>
        </h3>
        <div class="msg-output" data-id="{{ msg.id }}" style="border: 1px solid green; max-height:400px; width:90%; overflow-x:hidden; overflow-y: auto; margin-left:50px;">
            <span class="msg-user" title="{{ msg.user.username }}"></span>
            <span class="msg-date-time"></span>
            <div class="msg-content"></div>
            <button class="reply-btn">Reply</button>
            <form action="{% url 'add_comment' %}" method="post" class="comment-form hidden">
                {% csrf_token %}
                <div class="form-group">
                    <input type="hidden" name="parent_id" value="{{ msg.id }}">
                    <input type="text" name="user_name" id="id_user_name_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" placeholder="Name" value="Anonymous" required>
                    <input type="email" name="email" id="id_email_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" placeholder="Email" required>
                    <input type="text" name="homepage" id="id_homepage_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" placeholder="Homepage">
                </div>
                <div class="toolbar">
                    <button type="button" class="strong-btn">B</button>
                    <button type="button" class="italic-btn">I</button>
                    <button type="button" class="code-btn">CODE</button>
                    <button type="button" class="link-btn">LINK</button>
                    <button type="button" class="img-btn">IMG</button>
                    <button type="button" class="txt-btn">TXT</button>
                </div>
                <input type="file" class="img-input" style="display: none;">
                <input type="file" class="txt-input" style="display: none;">
                <div class="editor" contenteditable="true" placeholder="Write your comment here" id="editor_{{ forloop.parentloop.counter }}_{{ forloop.counter }}"></div>
                <textarea name="content" hidden required id="id_content_{{ forloop.parentloop.counter }}_{{ forloop.counter }}"></textarea>
                <div class="form-group">
                    <button type="submit" title="Roote">Send</button>
                </div>
            </form>
            <div class="comments">
                {% for comment in msg.comments.all %}
                <div class="comment" data-id="{{ comment.id }}">
                    <strong>{{ comment.user.username }}</strong>
                    <a href="{{ comment.user.homepage }}" target="_blank">🏠</a>
                    <a href="mailto:{{ comment.user.email }}" target="_blank">✉️</a>
                    ({{ comment.published_date }} {{ comment.published_time|slice:":5" }}):
                    <div class="comment-content">
                        <p>{{ comment.content }}</p>
                    </div>
                    <button class="reply-btn">Reply</button>
                    <form method="post" action="{% url 'add_comment' %}" class="comment-form hidden">
                        {% csrf_token %}
                        <input type="hidden" name="parent_id" value="{{ comment.id }}">
                        <input type="text" name="user_name" id="id_user_name_{{ forloop.parentloop.parentloop.counter }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" placeholder="Name" value="Anonymous" required>
                        <input type="email" name="email" id="id_email_{{ forloop.parentloop.parentloop.counter }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" placeholder="Email" required>
                        <input type="text" name="homepage" id="id_homepage_{{ forloop.parentloop.parentloop.counter }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}" placeholder="Homepage">
                        <div class="toolbar">
                            <button type="button" class="strong-btn">B</button>
                            <button type="button" class="italic-btn">I</button>
                            <button type="button" class="code-btn">CODE</button>
                            <button type="button" class="link-btn">LINK</button>
                            <button type="button" class="img-btn">IMG</button>
                            <button type="button" class="txt-btn">TXT</button>
                        </div>
                        <input type="file" class="img-input" style="display: none;">
                        <input type="file" class="txt-input" style="display: none;">
                        <div class="editor" contenteditable="true" placeholder="Write your comment here" id="editor_{{ forloop.parentloop.parentloop.counter }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}"></div>
                        <textarea name="content" hidden required id="id_content_{{ forloop.parentloop.parentloop.counter }}_{{ forloop.parentloop.counter }}_{{ forloop.counter }}"></textarea>
                        <div class="form-group">
                            <button type="submit" title="Roote">Send</button>
                        </div>
                    </form>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
</div>
<hr>
<script>
    document.getElementById('add-post-btn').onclick = function() {
        var postFormContainer = document.getElementById('post-form-container');
        postFormContainer.style.display = postFormContainer.style.display === 'none' ? 'block' : 'none';
    };

    document.querySelectorAll('.reply-btn').forEach(function(button) {
        button.addEventListener('click', function(event) {
            var commentForm = event.target.nextElementSibling;
            commentForm.classList.toggle('hidden');
        });
    });
</script>
</body>
</html>
